<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Connect | SQL Library</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/connect.css') }}">
        <script src="{{ url_for('static', filename='js/connect.js') }}"></script>
    </head>
    <body onload="load();flash()">
        <!-- Navbar -->
        <table class="navbar">
            <tr>
                <td class="nav-logo">
                    <a href="/"><img src="{{ url_for('static', filename='assets/logo.png') }}"></a>
                </td>
                <td class="nav-search">
                    <form action="/search" method="POST" id="query-frm">
                        <input type="text" name="query" id="query" placeholder="Search a book name">
                        <input type="text" name="first" id="first" value="true" hidden>
                    </form>
                </td>
                <td class="nav-account">
                    <a href="/account">Account</a>
                </td>
                <td class="nav-lang">
                    <a href="/fr"><img src="{{ url_for('static', filename='assets/lang/fr.png') }}"></a>
                </td>
            </tr>
        </table>
        <!-- End of Navbar -->

        <!-- Login / Register -->
        <table class="container">
            <tr>
                <td class="login-td">
                    <form action="/connect" method="POST">
                        <input type="text" name="c_type" id="c_type" value="login" hidden>
                        <table class="login-container">
                            <tr>
                                <td class="login-title">
                                    Login
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="email" name="email" id="email" placeholder="Email Address" autocomplete="email" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" id="submit" value="Login">
                                </td>
                            </tr>
                        </table>   
                    </form>
                </td>
                <td class="register-td">
                    <form action="/connect" method="POST">
                        <input type="text" name="c_type" id="c_type" value="register" hidden>
                        <table class="register-container">
                            <tr>
                                <td class="register-title" colspan="2">
                                    Register
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="email" name="email" id="email" placeholder="Email Address" autocomplete="email" required>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="password" name="password" id="password" placeholder="Password" autocomplete="new-password" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="additional-td" colspan="2">
                                    Additionnal Info
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="firstname" id="firstname" placeholder="First Name" autocomplete="given-name" required>
                                </td>
                                <td>
                                    <input type="text" name="lastname" id="lastname" placeholder="Last Name" autocomplete="family-name" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-birth">
                                    Birthday
                                </td>
                                <td>
                                    <input type="date" name="birthday" id="birthday" autocomplete="bday" required>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="text" name="address" id="address" placeholder="Address" autocomplete="address-line1" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" name="zipcode" id="zipcode" placeholder="Zip Code" autocomplete="postal-code" required>
                                </td>
                                <td>
                                    <input type="text" name="city" id="city" placeholder="City" autocomplete="address-level2" required>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="submit" id="submit" value="Register">
                                </td>
                            </tr>
                        </table>   
                    </form>
                </td>
            </tr>
        </table>
        <!-- End of Login / Register -->
    </body>
    <script> function flash() { if ({{ flash|safe }} != "") { alert({{ flash|safe }}); } } </script>
</html>