<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search a Subscriber | SQL Library</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/search-sub.css') }}">
        <script src="{{ url_for('static', filename='js/search-sub.js') }}"></script>
    </head>
    <body onload="load()">
        <!-- Navbar -->
        <table class="navbar">
            <tr>
                <td class="nav-logo">
                    <a href="/"><img src="{{ url_for('static', filename='assets/logo.png') }}"></a>
                </td>
                <td class="nav-search">
                    <form action="/search" method="POST" id="query-frm">
                        <input type="text" name="query" id="query" placeholder="Search a book name" value="{{ query|safe }}">
                        <input type="text" name="first" id="first" value="true" hidden>
                    </form>
                </td>
                <td class="nav-account">
                    <a href="/account">Account</a>
                </td>
                <td class="nav-lang">
                    <a href="/fr"><img src="{{ url_for('static', filename='assets/lang/fr.png') }}"></a>
                </td>
            </tr>
        </table>
        <!-- End of Navbar -->

        <!-- Search Filters -->
        <div class="filters">
            <form action="/search/sub" method="POST" id="filters-frm">
                <input type="text" name="lastname" id="lastname" placeholder="Last Name" value="{{ lastname|safe }}">
                <input type="text" name="firstname" id="firstname" placeholder="First Name" value="{{ firstname|safe }}">
                <input type="text" name="city" id="city" placeholder="City" value="{{ city|safe }}">
                <br>
                <input type="checkbox" name="expired" id="expired" value="true" {{ expired|safe }}><label for="expired">Subscription Expired</label>
                <br>
                <input type="submit" id="sub" value="Apply filters" onclick="send_frm()">
                <button id="sub" onclick="reset_frm()">Reset filters</button>
                <input type="number" name="page" id="page" value="{{ curr_page|safe }}" hidden>
            </form>
        </div>
        <!-- End of Search Filters -->

        <!-- Results -->
        <table class="result">
            <tr>
                <td class="result-lastname first-td">
                    Last Name
                </td>
                <td class="result-firstname first-td">
                    First Name
                </td>
                <td class="result-city first-td">
                    City
                </td>
                <td class="result-birthday first-td">
                    Birthday
                </td>
                <td class="result-end-sub first-td">
                    End of Subscription
                </td>
            </tr>
        {{ results|safe }}
        <!-- End of Results -->

        <!-- Page system -->
        <div class="page-system">
            <button class="page-button" onclick="{{ cp|safe }}"><</button>
            <div class="curr-page" id="curr-page">{{ cursor|safe }}</div>
            <button class="page-button" onclick="{{ cn|safe }}">></button>
        </div>
        <!-- End of Page system -->
    </body>
</html>