* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #F0F0F0;
}

.container {
    margin: auto;
    margin-top: 15vh;
    width: 40vw;
    height: 40vh;
    background-color: #A0A0A0;
    padding: 15px;
    border-radius: 20px;
}

@media (max-width: 1000px) {
    .container {
        width: 60vw;
    }
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

#password {
    width: calc(100% - 50px);
}

td {
    padding: 0 15px 0 5px;
}

.login-title {
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
}

.login-td {
    width: 40%;
}

.register-td {
    width: 60%;
}

.login-container {
    margin: auto;
    background-color: #808080;
    padding: 10px;
    border-radius: 15px;
}

.additional-td {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 10px 0;
}

.td-birth {
    text-align: right;
}

#submit {
    width: calc(100% + 14px);
    margin-top: 10px;
    background-color: #303030;
    box-shadow: 0px 0px 5px black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

#submit:hover {
    color: #FFDE57;
}

.show-pass {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid black;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    display: inline;
}

.show-pass > i {
    margin: auto;
}
