<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Compte | SQL Library</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://css.gg/css?=|eye-alt|eye" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
        <script src="{{ url_for('static', filename='js/account.js') }}"></script>
    </head>
    <body onload="load();flash()">
        <!-- Navbar -->
        <table class="navbar">
            <tr>
                <td class="nav-logo">
                    <a href="/fr"><img src="{{ url_for('static', filename='assets/logo.png') }}"></a>
                </td>
                <td class="nav-search">
                    <form action="/fr/search" method="POST" id="query-frm">
                        <input type="text" name="query" id="query" placeholder="Checher un titre de livre">
                        <input type="text" name="first" id="first" value="true" hidden>
                    </form>
                </td>
                <td class="nav-account">
                    <a href="/fr/disconnect">Déconnecter</a>
                </td>
                <td class="nav-lang">
                    <a href="/account"><img src="{{ url_for('static', filename='assets/lang/en.png') }}"></a>
                </td>
            </tr>
        </table>
        <!-- End of Navbar -->

        {% if admin %}
        <!-- Subscriber Search -->
        <div class="admin-search">
            <a href="/fr/search/sub">Chercher un Abonné</a>
        </div>
        <!-- End of Subscriber Search -->
        {% endif %}

        <!-- User Info -->
        <div class="container">
            <form action="/fr/account" method="post" id="update-frm">
                <table class="info-container">
                    <tr>
                        <td colspan="3" class="name">
                            Bienvenue <span class="bold">{{ firstname }} {{ lastname }}</span>
                        </td>
                        <td colspan="3" class="endsub">
                            Fin d'abonnement: {{ endsub2 }}
                        </td>
                    </tr>
                    <tr>
                        <td class="separator" colspan="6"></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="border">
                            Email: <input type="text" name="email" id="email" value="{{ email }}" placeholder="Adresse Email" autocomplete="email" required>
                        </td>
                        <td colspan="3" class="border">
                            Mot de passe: <input type="password" name="password" id="password" value="{{ password }}" placeholder="Mot de Passe" autocomplete="current-password" required>
                            <button onclick="showPass()" id="button" class="show-pass"><i class="gg-eye-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border">
                            Prénom: <input type="text" name="firstname" id="firstname" value="{{ firstname }}" placeholder="Prénom" autocomplete="given-name" required>
                            <input type="text" name="o_firstname" id="o_firstname" value="{{ firstname }}" hidden required>
                        </td>
                        <td colspan="2" class="border">
                            Nom: <input type="text" name="lastname" id="lastname" value="{{ lastname }}" placeholder="Nom" autocomplete="family-name" required>
                            <input type="text" name="o_lastname" id="o_lastname" value="{{ lastname }}" hidden required>
                        </td>
                        <td colspan="2" class="border">
                            Date de naissance: <input type="date" name="birthday" id="birthday" value="{{ birthday }}" autocomplete="bday" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border">
                            Adresse: <input type="text" name="address" id="address" value="{{ address }}" placeholder="Adresse" autocomplete="address-line1" required>
                        </td>
                        <td colspan="2" class="border">
                            Code postal: <input type="number" name="zipcode" id="zipcode" value="{{ zipcode }}" placeholder="Code Postal" autocomplete="postal-code" required>
                        </td>
                        <td colspan="2" class="border">
                            Ville: <input type="text" name="city" id="city" value="{{ city }}" placeholder="Ville" autocomplete="address-level2" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="border">
                            Date d'inscription: <input type="date" name="regdate" id="regdate" value="{{ regdate }}" autocomplete="reg-date" required>
                        </td>
                        <td colspan="3" class="border">
                            Fin d'abonnement: <input type="date" name="endsub" id="endsub" value="{{ endsub }}" autocomplete="end-sub" required>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <input type="submit" class="submit border" value="Mettre le profil à jour" onclick="document.getElementById('update-frm').submit()">
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- End of User Info -->
    </body>
    <script> function flash() { if ({{ flash|safe }} != "") { alert({{ flash|safe }}); } } </script>
</html>