<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Connexion | SQL Library</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link href="https://css.gg/css?=|eye-alt|eye" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/connect.css') }}">
        <script src="{{ url_for('static', filename='js/connect.js') }}"></script>
    </head>
    <body onload="load();flash()">
        <!-- Navbar -->
        <table class="navbar">
            <tr>
                <td class="nav-logo">
                    <a href="/fr"><img src="{{ url_for('static', filename='assets/logo.png') }}"></a>
                </td>
                <td class="nav-search">
                    <form action="/fr/search" method="POST" id="query-frm">
                        <input type="text" name="query" id="query" placeholder="Checher un titre de livre">
                        <input type="text" name="first" id="first" value="true" hidden>
                    </form>
                </td>
                <td class="nav-account">
                    <a href="/fr/account">Compte</a>
                </td>
                <td class="nav-lang">
                    <a href="/connect"><img src="{{ url_for('static', filename='assets/lang/en.png') }}"></a>
                </td>
            </tr>
        </table>
        <!-- End of Navbar -->

        <!-- Login / Register -->
        <table class="container">
            <tr>
                <td class="login-td">
                    <form action="/fr/connect" method="POST" id="conn-frm">
                        <input type="text" name="c_type" id="c_type" value="login" hidden>
                        <table class="login-container">
                            <tr>
                                <td class="login-title">
                                    Connexion
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="email" name="email" id="email" placeholder="Adresse Email" autocomplete="email" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="password" name="password" id="password" placeholder="Mot de Passe" autocomplete="current-password" required>
                                    <button onclick="showPass()" id="button" class="show-pass" tabindex="-1"><i class="gg-eye-alt"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" id="submit" value="Se connecter" onclick="document.getElementById('conn-frm').submit()">
                                </td>
                            </tr>
                        </table>   
                    </form>
                </td>
            </tr>
        </table>
        <!-- End of Login / Register -->
    </body>
    <script> function flash() { if ({{ flash|safe }} != "") { alert({{ flash|safe }}); } } </script>
</html>